***Check the Similarity between the ref sentence with other sentnces in the dataset***

In [1]:
import pandas as pd
import spacy

In [2]:
nlp = spacy.load('en_core_web_lg')

In [3]:
w1='pink'
w2='red'
w1=nlp.vocab[w1] #vocab is like a dictionary that stores all the words the model knows.
w2=nlp.vocab[w2] #it gives you information about the word w1 and w2

In [46]:
w1.similarity(w2)  #compares the meaning of the sentence

0.7830261588096619

***Now Use this lib for Sentence Similiraty***

In [6]:
df=pd.read_excel('Sentence.xlsx') #'Sheet1'

In [7]:
df

        ID                                            Message
0        1                 does this bus go to gandhi nagar ?
1        2                what all buses go to gandhi nagar ?
2        3       is the bus that just left gandhi nagar bus ?
3        4             when is the next bus to gandhi nagar ?
4        5                          which bus has just left ?
...    ...                                                ...
4995  4996               mustard usually has a yellow color .
4996  4997  i like to have oatmeal with yogurt for breakfa...
4997  4998       you should not go to the party by yourself .
4998  4999    the young man felt uncomfortable at the party .
4999  5000                  in the end , we had zero profit .

[5000 rows x 2 columns]

In [8]:
ref_sent=df.iloc[1][1]
ref_sent

C:\Users\nafiu\AppData\Local\Temp\ipykernel_17240\1873235587.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ref_sent=df.iloc[1][1]

'what all buses go to gandhi nagar ?'

In [9]:
type(ref_sent)

str

In [11]:
ref_sent_vec=nlp(ref_sent)
ref_sent_vec

what all buses go to gandhi nagar ?

In [12]:
type(ref_sent_vec)

spacy.tokens.doc.Doc

In [13]:
#convert all the messeges to doc type
all_docs=[nlp(row) for row in df['Message'][:100]]  #list comprehension

In [24]:
all_docs

[does this bus go to gandhi nagar ?,
 what all buses go to gandhi nagar ?,
 is the bus that just left gandhi nagar bus ?,
 when is the next bus to gandhi nagar ?,
 which bus has just left ?,
 does this bus go via ashok nagar ?,
 sir , i am to get down at gandhi nagar .,
 would you mind telling me when we get there ? i am new to this town .,
 sir , would you mind keeping this bag under the seat ?,
 is she calling you ?,
 is she writing a letter ?,
 is she cutting a tree ?,
 is she reading a novel ?,
 is she calling your sister ?,
 is she going to delhi ?,
 is the bus corning ?,
 is it raining ?,
 is the machine working ?,
 is he taking your cell phone ?,
 is your mother preparing food ?,
 after lunch , we can go .,
 i shall drop you at your place .,
 soon i shall come to your house .,
 may i come in sir ?,
 good morning to all .,
 forget it . anyone can make a mistake .,
 i am sure it was not your fault and everybody knows it .,
 nothing like that will happen again . don t worry .,
 why fear when i am here ?,
 why fear as long as i am with you ?,
 don t worry . i too have the same problem .,
 tears don t solve any problem .,
 could you help me ?,
 i expect the advice .,
 why don t you give the advice ?,
 i badly need your advice .,
 i urgently require your advice .,
 i request you to guide me .,
 they will bat first .,
 where is this match held ?,
 at lahore in pakistan .,
 who bowls from our team ?,
 what is the speed of agarkar ?,
 not even the speed of sameer .,
 who is the spinner ?,
 he will give a lot of runs .,
 the batting style of yussof is good .,
 they scored 300 runs .,
 that is all today for us .,
 come let us have some thing ?,
 have we started batting ?,
 our openers are playing well .,
 have some coffee .,
 she reads well .,
 her father is a tahsildar .,
 her native is tanjore .,
 she is staying in the hostel .,
 you talk,
 i shall prepare lunch .,
 your mother behaves well .,
 where is your scooty pep ?,
 why do you ask ?,
 i have to buy some books .,
 watch t.v.,
 is your friend in london ?,
 is he a teacher ?,
 is it useful ?,
 don t disturb me .,
 don t talk about that .,
 don t waste my time .,
 don t go there .,
 don t move with them .,
 don t ask me anything .,
 don t talk to me .,
 don t cry .,
 don t shout .,
 you have been a great help . thank you very much .,
 thank you very much .,
 i will never forget your timely help .,
 it was nice of you to arrange everything at a short notice .,
 i don t know how to thank you .,
 i really don t know how to express my thanks to you .,
 i am very grateful to you .,
 i don t find words to express my thanks to you .,
 thank you for reminding me .,
 thanks for calling .,
 that s ok .,
 that s alright .,
 how often do you go there ?,
 how did you reach there ?,
 how did you get there ?,
 how did they escape ?,
 how did you locate the house ?,
 how did you convince them ?,
 how many rooms are there in that house ?,
 how many brothers do you have ?,
 how much is it ?,
 when is the sports day ?,
 where is it going to be held ?,
 do you have a school bus ?]

In [28]:
type(all_docs[0])

spacy.tokens.doc.Doc

In [30]:
len(all_docs)

100

In [34]:
sims=[]
doc_id=[]
for i in range(len(all_docs)):
    sims.append(all_docs[i].similarity(ref_sent_vec))
    doc_id.append(i)
sims_docs=pd.DataFrame(list(zip(doc_id,sims)),columns=['doc_id','sims']) #zip() combines multiple lists (or iterables) into a single iterable of tuples

In [42]:
list(zip(doc_id,sims))

[(0, 0.9545674627044881),
 (1, 1.0),
 (2, 0.8860088032800915),
 (3, 0.9076374957064303),
 (4, 0.7210944327459125),
 (5, 0.8687815460744186),
 (6, 0.8375857566177404),
 (7, 0.7731681324548545),
 (8, 0.7121459864596552),
 (9, 0.6721015007150443),
 (10, 0.593712441889435),
 (11, 0.600687951364983),
 (12, 0.5625284693630188),
 (13, 0.6376539851966277),
 (14, 0.8076199314979936),
 (15, 0.6709916794528835),
 (16, 0.6436211624077454),
 (17, 0.6126381916395487),
 (18, 0.6334184413590069),
 (19, 0.6383019307631189),
 (20, 0.703538660640088),
 (21, 0.698095923557501),
 (22, 0.7307673375130795),
 (23, 0.7554932020147836),
 (24, 0.7160085521539619),
 (25, 0.7048401122424901),
 (26, 0.7107278254142195),
 (27, 0.7249024000550108),
 (28, 0.7386948097204039),
 (29, 0.7310799922841198),
 (30, 0.7264473055415345),
 (31, 0.6673058054644717),
 (32, 0.7239435413960783),
 (33, 0.7017904351042591),
 (34, 0.7268120167689275),
 (35, 0.6975781082529322),
 (36, 0.6616381685207596),
 (37, 0.7176034621266798),
 (38, 0.6386773935993214),
 (39, 0.6298677961290781),
 (40, 0.5976482889057441),
 (41, 0.6225118812631294),
 (42, 0.6622497517360914),
 (43, 0.685525444497554),
 (44, 0.6046867763403719),
 (45, 0.6708848929174972),
 (46, 0.5584732743723405),
 (47, 0.5317935522553702),
 (48, 0.6938440209795813),
 (49, 0.7613669233483404),
 (50, 0.6361665994736501),
 (51, 0.5844169046547069),
 (52, 0.6134452846869682),
 (53, 0.5852318649500413),
 (54, 0.5519899357242581),
 (55, 0.4863712164536291),
 (56, 0.6571180729257989),
 (57, 0.660123468804883),
 (58, 0.6407950989661565),
 (59, 0.5949456855320958),
 (60, 0.6494273216450768),
 (61, 0.7386539751225265),
 (62, 0.7186552197599396),
 (63, 0.4642022322657148),
 (64, 0.6827497778867638),
 (65, 0.6048983250314607),
 (66, 0.6277933127173231),
 (67, 0.6415288349496493),
 (68, 0.6925282300856929),
 (69, 0.6797131860928088),
 (70, 0.7200366034272843),
 (71, 0.7019280908207635),
 (72, 0.7098741414232187),
 (73, 0.7086442958152768),
 (74, 0.5922680913260224),
 (75, 0.5779760986804316),
 (76, 0.677145374580202),
 (77, 0.6562993249028822),
 (78, 0.706776386967174),
 (79, 0.6991304348296637),
 (80, 0.730596777433823),
 (81, 0.756023063828873),
 (82, 0.6867565716727045),
 (83, 0.7480175399716107),
 (84, 0.6612107856093025),
 (85, 0.5928270294453873),
 (86, 0.6481650368450099),
 (87, 0.6435130952934821),
 (88, 0.7593664717021468),
 (89, 0.7604145629300717),
 (90, 0.754621215306625),
 (91, 0.7199060801726332),
 (92, 0.7280761130540365),
 (93, 0.7300328851147766),
 (94, 0.7241452660214779),
 (95, 0.7334853865223778),
 (96, 0.6887143537100316),
 (97, 0.672693400285145),
 (98, 0.7129846843074272),
 (99, 0.7852806928218724)]

In [36]:
sims_docs

    doc_id      sims
0        0  0.954567
1        1  1.000000
2        2  0.886009
3        3  0.907637
4        4  0.721094
..     ...       ...
95      95  0.733485
96      96  0.688714
97      97  0.672693
98      98  0.712985
99      99  0.785281

[100 rows x 2 columns]

In [50]:
list(zip('10', 'Ak'))#each character is treated as an individual element-->zip pairs the elements from both strings, character by character

[('1', 'A'), ('0', 'k')]

In [52]:
sims_docs_sorted= sims_docs.sort_values(by='sims',ascending=False)
sims_docs_sorted.head()

   doc_id      sims
1       1  1.000000
0       0  0.954567
3       3  0.907637
2       2  0.886009
5       5  0.868782

In [54]:
sims_docs_sorted['doc_id'][:5]  #returns the id

1    1
0    0
3    3
2    2
5    5
Name: doc_id, dtype: int64

In [56]:
top5_sim_doc=df.iloc[sims_docs_sorted['doc_id'][:5]]
top5_sim_doc

   ID                                       Message
1   2           what all buses go to gandhi nagar ?
0   1            does this bus go to gandhi nagar ?
3   4        when is the next bus to gandhi nagar ?
2   3  is the bus that just left gandhi nagar bus ?
5   6            does this bus go via ashok nagar ?

In [62]:
top_sims_score = pd.concat([top5_sim_doc, sims_docs_sorted['sims'][0:5]], axis=1)
top_sims_score

   ID                                       Message      sims
1   2           what all buses go to gandhi nagar ?  1.000000
0   1            does this bus go to gandhi nagar ?  0.954567
3   4        when is the next bus to gandhi nagar ?  0.907637
2   3  is the bus that just left gandhi nagar bus ?  0.886009
5   6            does this bus go via ashok nagar ?  0.868782